<ul class="list">

    <li class="item item-toggle">
        Notifications
        <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>

    <li class="item item-toggle">
        Sharing
        <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>

    <li class="item item-toggle">
        Subscribe
        <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>

    <li class="item item-toggle">
        Email
        <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>

    <li class="item item-checkbox">
        <label class="checkbox">
            <input type="checkbox" checked>
        </label>
        Enable
    </li>

</ul>

<div class="item range">
    <i class="icon ion-volume-low"></i>
    <input type="range" name="volume">
    <i class="icon ion-volume-high"></i>
</div>

<div class="list">
    <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios-sunny"></i>
    </div>
</div>